<!-- Filtro de búsqueda -->
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Principio Activo</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container>
                <tr *ngFor="let producto of dataPokemons; let i = index">
                    <td>P0000{{ i + 1 }}</td>
                    <td>{{ producto.name }}</td>
                    <td>{{ producto.url }}</td>
                    <td>
                        <div class="container__icons">
                            <mat-icon>delete</mat-icon>
                            <mat-icon>update</mat-icon>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <div class="pagination-controls">
        <button>Anterior</button>
        <span>Página 1 de 3</span>
        <button>Siguiente</button>
    </div>
</div>