

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #a89f9fc5;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #cac2c2;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 18px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #6e080846;
}

/* Estilos para los controles de paginación */
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination-controls button {
  padding: 8px 16px;
  margin: 0 5px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  cursor: pointer;
}

.pagination-controls button:hover {
  background-color: #ddd;
}

.pagination-controls span {
  align-self: center;
  margin: 0 10px;
}

mat-icon{
  font-size: 28px;
  cursor: pointer;
}

.container__icons{
  display: flex; align-items: center; width: 100%; justify-content: space-around; height: 100%;
}
